body {
  font-family: 'Open Sans', sans-serif;
  color: #333; }

p {
  font-size: 24px;
  font-weight: 600; }

.btn {
  border-radius: 10px;
  background-image: linear-gradient(to top, #cc2229 0%, #ef5350 100%);
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px; }

h2 {
  font-size: 52px;
  font-weight: bold; }

.up__down {
  transform: rotate(180deg); }

.modal {
  font-family: 'Open Sans', sans-serif; }
  .modal .close {
    margin: -1rem; }
  .modal .modal-title {
    width: 100%;
    font-weight: 600; }
  .modal form span {
    display: block;
    width: 140px; }
  .modal .btn__modal {
    width: 240px;
    margin: 10px auto;
    padding: 6px 43px; }

header {
  background: url("../img/BG_.png") no-repeat center top;
  background-size: cover;
  padding: 30px 0; }
  header .logo {
    padding-right: 25px; }
  header .header__p1 {
    margin-top: 16px;
    line-height: 20px; }
  header .header__p2 {
    font-weight: bold;
    font-size: 36px;
    color: #1d3482;
    text-transform: uppercase; }
    header .header__p2 span {
      font-size: 30px; }
  header .header__btn__mob {
    display: none; }
  header .header__right {
    float: right; }
  header .header__p3 {
    line-height: 30px; }
  header .header__button {
    width: 313px;
    padding: 5px 0;
    margin-top: 6px; }
    header .header__button i {
      padding-right: 8px; }

nav {
  background: #e1f5fe;
  font-size: 24px;
  font-weight: 600; }
  nav .nav-link {
    color: #333; }
  nav .active {
    color: #2e4187; }
  nav .menu__item__mobile {
    display: none; }

.first {
  padding: 115px 0 280px 0;
  background: url("../img/BG_1.png") no-repeat center top;
  background-size: cover; }
  .first h2 {
    text-shadow: 1px 2px 0 #f3f3f3; }
  .first p {
    width: 870px;
    margin: 0 auto;
    padding: 40px 0 55px 0; }
  .first .first__button {
    margin: 0 auto;
    width: 260px;
    padding: 3px 37px; }

.second {
  padding: 85px 0 90px 0;
  background: url(../img/BG_2.png) no-repeat center top;
  background-size: cover; }
  .second .second__care div {
    width: 20%;
    margin-top: 80px; }
    .second .second__care div img {
      width: 100%; }
    .second .second__care div h4 {
      font-size: 24px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 15px; }
    .second .second__care div h6 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.09px; }
  .second .second__privileges__h2 {
    padding-top: 85px;
    padding-bottom: 90px; }
  .second .second__privileges__block {
    padding: 25px 0; }
  .second .second__privileges__circle {
    background: #fff;
    border-radius: 50%;
    font-size: 52px;
    font-weight: bold;
    color: #3b4e8f;
    width: 65px;
    height: 65px;
    line-height: 61px;
    margin-left: 80px; }
  .second .second__privileges__text p {
    font-weight: bold;
    width: 350px;
    padding-left: 20px; }
  .second .second__button {
    width: 260px;
    padding: 6px 0;
    margin-top: 45px; }

.third {
  padding: 90px 0; }
  .third .third__p1 {
    padding: 80px 0 60px 0; }
  .third .burial__cremation {
    width: 50%;
    text-align: center;
    background: #707070;
    color: #fff;
    cursor: pointer; }
  .third .burial__cremation__left {
    border-radius: 9px 0 0 0; }
  .third .burial__cremation__right {
    border-radius: 0 9px 0 0; }
  .third .active {
    background: #1e3482; }
  .third .third__burial__type {
    background: #d2d2d2;
    padding: 30px;
    margin-bottom: 5px; }
  .third .thirm__minimum__package {
    font-weight: 600;
    font-size: 18px; }
  .third .third__type__details {
    text-decoration: underline;
    color: #1e3482;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    float: right; }
    .third .third__type__details i {
      font-weight: bold;
      font-size: 20px; }
  .third .third__button {
    margin-top: 25px;
    width: 165px;
    padding: 3px 0; }
  .third .third__cremation__type {
    background: #d2d2d2;
    padding: 30px;
    margin-bottom: 5px; }
  .third .third__burial__details {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid black; }
  .third #accordion2 {
    display: none; }

.four {
  background: #f0f6f9;
  padding: 75px 0 95px 0; }
  .four h2 {
    margin-bottom: 90px; }
  .four p {
    font-size: 18px;
    font-weight: 400; }
  .four .four__p2 {
    width: 435px; }
  .four .four__why__div {
    margin-bottom: 20px;
    padding-left: 45px; }
  .four .circle {
    background: #1e3482;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding-left: 8px;
    margin-right: 15px; }
  .four .four__p1 {
    font-weight: bold;
    line-height: 28px;
    font-size: 24px; }
  .four .four__h2 {
    padding-top: 150px;
    margin-bottom: 75px; }
  .four .four__p3 {
    text-indent: 30px;
    letter-spacing: -0.3px;
    margin-bottom: 30px; }
  .four .four__h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 25px 0; }
  .four .four__img1 {
    position: absolute; }
  .four .four__p5 {
    margin-left: 80px;
    line-height: 24px;
    letter-spacing: 1px; }

.five__block {
  padding-top: 50px;
  justify-content: space-between; }

.five__block__otzyv {
  border: 1px solid #1e3482;
  padding: 15px;
  width: 49.6%;
  margin-bottom: 30px; }
  .five__block__otzyv h4 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px; }
  .five__block__otzyv p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 8px; }

.five {
  padding-top: 80px; }
  .five .five__block {
    padding-top: 50px;
    justify-content: space-between; }
  .five .five__block__otzyv {
    border: 1px solid #1e3482;
    padding: 15px;
    width: 49.6%;
    margin-bottom: 30px; }
    .five .five__block__otzyv h4 {
      font-weight: 600;
      font-size: 18px;
      padding-bottom: 8px; }
    .five .five__block__otzyv p {
      font-weight: 400;
      font-size: 18px;
      padding-top: 8px; }
  .five .five__ul {
    justify-content: center; }
    .five .five__ul .active {
      background: #1e3482; }
    .five .five__ul li {
      background: #707070;
      display: block;
      width: 7px;
      height: 7px;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer; }
  .five .carousel-indicators {
    bottom: 0; }

.six {
  padding: 155px 0 200px 0; }
  .six .six__block {
    padding-top: 90px; }
    .six .six__block img {
      padding-bottom: 25px; }
  .six .six__div__line {
    position: absolute;
    background: #1e3482;
    height: 5px;
    width: 75%;
    top: 195px;
    z-index: -1;
    left: 120px; }

.seven {
  background: url(../img/BG_4.png) no-repeat center top;
  background-size: cover;
  padding: 80px 0;
  color: #fff; }
  .seven p {
    width: 940px;
    margin: 0 auto;
    padding: 45px 0 50px 0; }
  .seven button {
    width: 285px;
    height: 40px; }

.eith {
  padding: 85px 0 65px; }
  .eith p {
    padding-top: 80px;
    line-height: 32px; }

footer {
  background: #e1f5fe;
  font-size: 18px;
  font-weight: 600;
  padding: 15px; }

@media all and (max-width: 1200px) {
  .nav-link {
    font-size: 21px; }

  .second .second__care div h4 {
    font-size: 20px; }

  .second .second__care div h6 {
    font-size: 16px; } }
@media all and (max-width: 992px) {
  p {
    width: auto !important;
    font-size: 23px; }

  header .header__p2 {
    font-size: 30px; }
    header .header__p2 span {
      font-size: 24px; }

  .nav-link {
    font-size: 16px; }

  .second .second__privileges__circle {
    margin-left: 5px; }

  .second .second__care div h4 {
    font-size: 16px;
    letter-spacing: -1.7px; }

  .second .second__care div h6 {
    font-size: 14px; }

  .six .six__div__line {
    width: 65%; } }
@media all and (max-width: 767px) {
  h2 {
    font-size: 32px; }

  p {
    font-size: 19px; }

  header .header__right {
    display: none; }
  header .header__btn__mob {
    display: block; }
  header .logo {
    width: 110px; }

  nav {
    background: #fff; }
    nav .menu__item__mobile {
      display: block; }
    nav .navbar-nav {
      text-align: center; }

  .five .five__block__otzyv p {
    font-size: 15px; }

  .third .thirm__minimum__package {
    width: 275px !important;
    font-size: 16px; }

  .six {
    padding: 100px 0 120px 0; }
    .six .six__block {
      padding-top: 70px; }
      .six .six__block img {
        width: 55px;
        height: 55px; }
      .six .six__block p {
        font-size: 15px; }
    .six .six__div__line {
      left: 95px;
      top: 133px; } }
@media all and (max-width: 576px) {
  header .header__btn__mob {
    width: 200px; }
  header .logo {
    width: 95px; }
  header .header__p1 {
    font-size: 14px; }
  header .header__p2 {
    font-size: 18px; }
    header .header__p2 span {
      font-size: 12px; }

  .six .six__block {
    flex-direction: column;
    display: block !important; }
    .six .six__block .col {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; } }

/*# sourceMappingURL=style.css.map */
