//спецификация
body{
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
p{
	font-size: 24px;
	font-weight: 600;
}
.btn{
	border-radius: 10px;
	background-image: linear-gradient(to top, #cc2229 0%, #ef5350 100%);
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
h2{
	font-size: 52px;
	font-weight: bold;
}
.up__down{
  transform: rotate(180deg);
 }
//modal
.modal{
	font-family: 'Open Sans', sans-serif;
 .close{
	margin: -1rem;
	}
	.modal-title{
		width: 100%;
		font-weight: 600;
	}
	form span{
		display: block;
		width: 140px;
	}
	.btn__modal{
		width: 240px;
    margin: 10px auto;
    padding: 6px 43px;
	}
}
//header
header{
  background: url("../img/BG_.png")no-repeat center top;
  background-size: cover;
  padding: 30px 0;
  .logo{
  	padding-right: 25px;
  }
  .header__p1{
    margin-top: 16px;
    line-height: 20px;
  }
  .header__p2{
  	font-weight: bold;
  	font-size: 36px;
  	color: #1d3482;
  	text-transform: uppercase;
  	span{
  		font-size: 30px;
  	}
  }
  .header__btn__mob{
  	display: none;	
  }
  .header__right{
  	float: right;
  }
  .header__p3{
  	line-height: 30px;
  }
  .header__button{
  	width: 313px;
  	padding: 5px 0;
  	margin-top: 6px;
  	i{
  		padding-right: 8px;
  	}
  }
}
//menu
nav{
	background: #e1f5fe;
	font-size: 24px;
	font-weight: 600;
	.nav-link{
	color: #333;	
	}
	.active{
		color: #2e4187;
	}
	.menu__item__mobile{
		display: none;
	}
}
//first
.first{
	padding: 115px 0 280px 0;
	background:url("../img/BG_1.png") no-repeat center top;
	background-size: cover;
	h2{
		text-shadow: 1px 2px 0 #f3f3f3;
	}
	p{
		width: 870px;
		margin: 0 auto;
		padding: 40px 0 55px 0;
	}
	.first__button{
		margin: 0 auto;
		width: 260px;
		padding: 3px 37px;
	}
}
//second
.second{
	padding: 85px 0 90px 0;
	background: url(../img/BG_2.png) no-repeat center top;
  background-size: cover;
  .second__care div{
  	width: 20%;
  	margin-top: 80px;
  	img{
  		width: 100%;
  	}
  	h4{
  		font-size: 24px;
  		font-weight: bold;
  		padding-top: 10px;
  		padding-bottom: 15px;
  	}
  	h6{
  		font-size: 18px;
  		font-weight: 400;
  		letter-spacing: -0.09px;
  	}
  }
  .second__privileges__h2{
  	padding-top: 85px;
  	padding-bottom: 90px;
  }
  .second__privileges__block{
  	padding: 25px 0;
  }
  .second__privileges__circle{
  	background: #fff;
  	border-radius:50%;
  	font-size: 52px;
  	font-weight: bold;
  	color: #3b4e8f;
  	width: 65px;
  	height: 65px;
  	line-height: 61px;
  	margin-left: 80px;
  }
  .second__privileges__text p{
  	font-weight: bold;
  	width: 350px;
  	padding-left: 20px;
  }
  .second__button{
  	width: 260px;
  	padding: 6px 0;
  	margin-top: 45px;
  }
}
//third
.third{
	padding: 90px 0;
	.third__p1{
		padding: 80px 0 60px 0;
	}
	.burial__cremation{
		width: 50%;
		text-align: center;
		background: #707070;
		color: #fff;
		cursor: pointer;
	}
	.burial__cremation__left{
		border-radius: 9px 0 0 0;
	}
	.burial__cremation__right{
		border-radius: 0 9px 0 0;
	}
	.active{
		background: #1e3482;
	}
	.third__burial__type{
		background: #d2d2d2;
		padding: 30px;
		margin-bottom: 5px;
	}
	.thirm__minimum__package{
		font-weight: 600;
		font-size: 18px;
	}
	.third__type__details{
		text-decoration: underline;
		color: #1e3482;
		font-weight: 600;
		font-size: 18px;
		cursor: pointer;
		float: right;
		i{
			font-weight: bold;
			font-size: 20px;
		}
	}
	.third__button{
		margin-top: 25px;
		width: 165px;
		padding: 3px 0;
	}
	.third__cremation__type{
		background: #d2d2d2;
		padding: 30px;
		margin-bottom: 5px;
	}
	.third__burial__details{
		margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid black;
	}
	#accordion2{
		display: none;
	}
}
//four
.four{
	background: #f0f6f9;
	padding: 75px 0 95px 0;
	h2{
		margin-bottom: 90px;
	}
	p{
		font-size: 18px;
		font-weight: 400;
	}
	.four__p2{
		width: 435px;
	}
	.four__why__div{
		margin-bottom: 20px;
		padding-left: 45px;
	}
	.circle{
		background: #1e3482;
		color: #fff;
		border-radius:50%;
		height: 30px;
		width: 30px;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
    padding-left: 8px;
    margin-right: 15px;
	}
	.four__p1{
		font-weight: bold;
		line-height: 28px;
		font-size: 24px;
	}
	.four__h2{
		padding-top: 150px;
		margin-bottom: 75px;
	}
	.four__p3{
		text-indent: 30px;
		letter-spacing: -0.3px;
		margin-bottom: 30px;
	}
	.four__h3{
		font-size: 24px;
		font-weight: bold;
		padding: 25px 0;
	}
	.four__img1{
		position: absolute;
	}
	.four__p5{
		margin-left: 80px;
		line-height: 24px;
    letter-spacing: 1px;
	}
}

//carousel
	.five__block{
		padding-top: 50px;
		justify-content:space-between;
	}
	.five__block__otzyv{
		border:1px solid #1e3482;
		padding: 15px;
		width: 49.6%;
		margin-bottom: 30px;
		h4{
			font-weight: 600;
			font-size: 18px;
			padding-bottom: 8px;
		}
		p{
			font-weight: 400;
			font-size: 18px;
			padding-top: 8px;
		}
	}

//five
.five{
	padding-top: 80px;
	.five__block{
		padding-top: 50px;
		justify-content:space-between;
	}
	.five__block__otzyv{
		border:1px solid #1e3482;
		padding: 15px;
		width: 49.6%;
		margin-bottom: 30px;
		h4{
			font-weight: 600;
			font-size: 18px;
			padding-bottom: 8px;
		}
		p{
			font-weight: 400;
			font-size: 18px;
			padding-top: 8px;
		}
	}
	.five__ul{
		justify-content: center;
		.active{
			background: #1e3482;
		}
		li{
			background: #707070;
			display: block;
			width: 7px;
			height: 7px;
			margin: 0 5px;
			border-radius:50%;
			cursor: pointer;
		}
	}
	.carousel-indicators{
		bottom: 0;
	}
}

.six{
	padding:155px 0 200px 0;
	.six__block{
		padding-top: 90px;
		img{
			padding-bottom: 25px;
		}
	}
	.six__div__line{
		position: absolute;
		background: #1e3482;
		height: 5px;
		width: 75%;
		top: 195px;
		z-index: -1;
		left: 120px;
	}
}

.seven{
	background: url(../img/BG_4.png) no-repeat center top;
  background-size: cover;
	padding: 80px 0;
	color: #fff;
	p{
		width: 940px;
    margin: 0 auto;
    padding: 45px 0 50px 0;
	}
	button{
		width: 285px;
		height: 40px;
	}
}

.eith{
	padding: 85px 0 65px;
	p{
		padding-top: 80px;
		line-height: 32px;
	}
}

footer{
	background: #e1f5fe;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
}

@media all and (max-width: 1200px){
 .nav-link{
 	font-size: 21px;
 }
 .second .second__care div h4{
 	font-size: 20px;
 }
 .second .second__care div h6{
 	font-size: 16px;
 }

}
@media all and (max-width: 992px){
	p{
		width: auto!important;
		font-size: 23px;
	}
	header{
		.header__p2{
			font-size: 30px;
			span{
				font-size: 24px;
			}
		}
	}
	.nav-link{
 	font-size: 16px;
  }
  .second .second__privileges__circle{
  	margin-left: 5px;
  }
   .second .second__care div h4{
 	font-size: 16px;
 	letter-spacing: -1.7px;
 	}
 .second .second__care div h6{
 	font-size: 14px;
	}
	.six .six__div__line{
		width: 65%;
	}
}
@media all and (max-width: 767px){
	h2{
		font-size: 32px;
	}
	p{
		font-size: 19px;
	}
	header{
		.header__right{
			display: none;
		}
		.header__btn__mob{
			display: block;
		}
		.logo{
			width: 110px;
		}
	}
	nav{
		background: #fff;
		.menu__item__mobile{
			display: block;
		}
		.navbar-nav{
			text-align: center;
		}
	}
	.five .five__block__otzyv p{
		font-size: 15px;
	}
	.third .thirm__minimum__package{
		width: 275px!important;
		font-size: 16px;
	}
	.six{
		padding: 100px 0 120px 0;
		.six__block{
			padding-top: 70px;
			img{
				width: 55px;
				height: 55px;
			}
			p{
				font-size: 15px;
			}
		}
		.six__div__line{
			left: 95px;
			top: 133px;
		}
	}
}
@media all and (max-width: 576px){
	header{
		.header__btn__mob{
			width: 200px;
		}
		.logo{
			width: 95px;
		}
		.header__p1{
			font-size: 14px;
		}
		.header__p2{
			font-size: 18px;
			span{
				font-size: 12px;
			}
		}
	}
	.six .six__block{
		flex-direction: column;
		display: block !important;
		.col{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
}